In [4]:
import pandas as pd

In [11]:
orders = pd.read_csv("data/orders.csv", sep=";")

In [12]:
products = pd.read_csv("data/products.csv", sep=";")

In [13]:
orders.head()

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5

In [14]:
products.head()

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR
2          53    Штаны Цветочная Поляна   4999      RUR
3          71       Платье Ночная Жизнь   7999      RUR
4          74  Платье Ночная Жизнь XXXL   8999      RUR

In [19]:
new_data = orders.merge(
    products,
    left_on="ID товара",
    right_on="Product_ID",
    how="left"
)

In [20]:
new_data.head()

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR

In [24]:
new_data["Итого"] = new_data["Количество"] * new_data["Price"]
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата создания  18 non-null     object
 1   Order ID       18 non-null     int64
 2   ID Покупателя  18 non-null     int64
 3   Статус         18 non-null     object
 4   Оплачен        18 non-null     object
 5   Отменен        18 non-null     object
 6   Отгружен       18 non-null     object
 7   ID товара      18 non-null     int64
 8   Количество     18 non-null     int64
 9   Product_ID     17 non-null     float64
 10  Name           17 non-null     object
 11  Price          17 non-null     float64
 12  CURRENCY       17 non-null     object
 13  Итого          17 non-null     float64
dtypes: float64(3), int64(4), object(7)
memory usage: 2.1+ KB

In [25]:
mask = (new_data["Оплачен"] == "Да")
new_data[mask].groupby(by="ID Покупателя")["Итого"].sum()

ID Покупателя
1        0.0
5    13043.0
7    17096.0
8     1344.0
Name: Итого, dtype: float64